<!doctype html>
<html>
<head>
	<meta charset="utf-8" http-equiv="Content-Type" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<title>Wheelys Cafe</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, minimal-ui"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<link href="${staticPath}css/touch.css?v=$VmUtils.version" rel="stylesheet" type="text/css"/>
	<link href="${staticPath}css/swiper-3.4.0.min.css?v=$VmUtils.version" rel="stylesheet" type="text/css"/>
	<link href="${staticPath}css/wps/newsList.css?v=$VmUtils.version" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" src="${staticPath}js/zepto.min.js?v=$VmUtils.version" type="text/javascript"></script>
	<script type="text/javascript" src="${staticPath}js/swiper-3.4.0.jquery.min.js?v=$VmUtils.version" type="text/javascript"></script>
	<script type="text/javascript" src="${staticPath}js/wheelys-touch.js?v=$VmUtils.version" type="text/javascript"></script>
	#parse("/common/baidu.vm") 
	<style type="text/css">
	.bodyMod{background:#fff;padding:15px 5%;}
	header.title{font-family:'黑体'}
	header.title h2{font-size:1.5rem; color:#000;}
	header.title p{color:#7f7f7f; padding:10px 0 15px;}
	header.title p span ,header.title p a{display:inline-block}
	header.title p a{color:#617898;margin-left:10px;}
	.textBox img{width:100%}
	</style>
</head>
<body>
#set($headerTitle='详情')
#parse("/wps/modul/header.vm")
<div class="bodyMod">
	<header class="title">
		<h2>$!news.title</h2>
		<p>
			<span>$!DateUtil.formatDate($news.publishtime)</span> <span> $!news.writer</span>
			<a href="http://www.wheelyschina.com/wheelyscafe/news/newsDetail.xhtml?id=30">WheelysCafe</a>
		</p>
	</header>
	<div class="textBox">$!content</div>
</div>
</body>
</html>