/* body{background:#fff;padding:20px 5%;}
.orderDetail h2 ,.otherDetail h2{text-align:center;width:100%; display:block; font-size:1.4rem; height:2.5rem; line-height:2.5rem; font-weight:900;}
.orderDetailTitle{height:2.6rem;line-height:2.6rem; font-size:1.2rem; color:#a0a0a0;}
.orderDetailTitle span ,.orderDetailBody ul span ,.orderDetailDis span{float:left; width:30%;text-align:center;}
.orderDetailTitle span:nth-child(1) ,.orderDetailBody ul span:nth-child(1) ,.orderDetailDis span:nth-child(1){width:40%;}
.orderDetailBody ul span:nth-child(1) ,.orderDetailDis span:nth-child(1),.orderDetailTotal span:nth-child(1){text-align:left; text-indent:10px;}
.orderDetailBody ul li{border-top:1px solid #ddd; padding:5px 0;}
.orderDetailBody ul li.modLi{border-color:#e61111}
.orderDetailBody ul li p{font-size:.8rem;line-height:16px;}
.orderDetailDis{border-top:1px solid #ddd; border-bottom:1px solid #e61111; color:#e61111; height:3.8rem; line-height:3.8rem}
.orderDetailDis span{text-align:center}
.orderDetailDis span:nth-child(1){width:70%; text-align:left;}
.orderDetailTotal{border-top:1px solid #e61111}
.orderDetailTotal span{float:left; width:50%; text-align:center; height:3rem; line-height:3rem; width:30%; font-weight:900; font-size:1.4rem;color:#e61111;}
.orderDetailTotal span:nth-child(1){width:70%; text-align:right}
.otherDetail{margin-top:30px;}
.otherDetail h2{ height:3rem;line-height:3rem; border-top:2px solid #ddd}
.otherDetail ul li{min-height:3rem; line-height:3rem; border-top:1px solid #ddd; font-size:1rem;text-indent:5px;}
.otherDetail ul li:nth-child(1){border:none;}
.otherDetail ul li:nth-child(1) span:nth-child(2){color:#e61111;font-weight:900;}
.otherDetail ul li span:nth-child(1){font-weight:900; margin-right:5px;}
.cofeBuyDetail i{margin:0 2px;}
.amount{border-top:1px solid #ddd; padding:5px 0;}
.amount .left{text-indent:10px;}
.amount .right{width:30%; text-align:center;}
.close{-webkit-box-shadow: 4px 4px 0 #e61111;box-shadow: 4px 4px 0 #e61111;border:2px solid #000; width:80%; margin:50px auto 0; height:3rem; line-height:3rem; text-align:center; font-size:1.6rem; display:block;}
span.pass{text-decoration:line-through}
span.new{color:#e61111}
.tel{color:#ed2626;} */
.orderDetailBody {background:#fff;box-shadow:0px 1px 1px #d8d8d8}
.header{width:100%;height:3rem;background:#EE2626;}
.layout{padding:7px 15px;display:flex;-webkit-display:flex;-moz-display:flex;justify-content:space-between;-webkit-justify-content:space-between;-moz-justify-content:space-between;}
.header-img{width:1.8rem;height:1.8rem;}
.header-img img{width:100%;height:100%;}
.header-text1{font-size:1.28rem;color:#ffffff;}
.header-text2{font-style:none;font-size:1.14rem;color:#ffffff;}
.orderDetailBody li { border-bottom: 1px solid #ececec;padding:10px 0; margin-left:2%;}
.orderDetailBody li .liMod:nth-child(1) { width: 70%;text-align: left;}
.orderDetailBody li .liMod:nth-child(2) { width: 15%;text-align: left;}
.orderDetailBody li .liMod { float: left;text-align: center;}
.orderDetailBody li .liMod:nth-child(3){ width: 15%;text-align:center;}
.discount { border-bottom: 1px solid #ececec; padding: 10px 15px 10px 2%;}
.discount .right{color:#ee2624;}
.otherDetail{background:#ffffff;margin-top:10px;}
.otherDetail h2{ width:100%;height:3rem;line-height:3rem;color:#474747;font-size:1.14rem;text-align:center;display:block;}
.otherDetail ul{box-shadow:0px 1px 1px #d8d8d8}
.otherDetail ul li{padding-left:10px;min-height:3rem; line-height:3rem; border-top:1px solid #ddd; font-size:1rem;text-indent:5px;color:#7a7a7a;}
.otherDetail ul li:nth-child(1){border:none;}
.otherDetail ul li:nth-child(1) span:nth-child(2){color:#ee2624;}
.otherDetail ul li span:nth-child(1){ margin-right:5px;}
.close{display:block;padding:11px 22px;background:#e61111;color:#ffffff;text-align: center;border-radius: 50px;float: right;font-size:1.14rem;line-height:1.14rem;margin-right:10px;}
.o-red{color:#ee2624;}