.body{padding:20px 0;background:#fff url(http://wheelysoss.oss-cn-shanghai.aliyuncs.com/img/wps/activity2017/valentine/body.png) center top no-repeat; background-size:100% auto;}
.imgBox{text-align:center;}
.inputBox{width:100%;}
.D-body .h3-text{
	line-height:60px;
}
.D-loginMod{margin:20px 0;}
.D-loginMod input{
    width:229px;
	height:42px;line-height:42px;
	padding:0 0 0 20px;
	font-size:1.14rem;
	color:#474747;
	display:block;
	margin:0 auto;
}
.d-input{
	position:relative;
	width:229px;
	height:42px;
	margin:10px auto;
	background:#ffffff;
	border-radius:50px;
	border:1px solid #c1c1c1;
}
.d-input.err{border-color:#ee2624}
#get{
	width:70px;
	height:44px;
	position:absolute;
	color:#ffffff;
	position:absolute;
	right:0;
	top:-1px;
	border:none;
	border-radius:0 50px 50px 0;
	outline:none;	
	background:#ee2624;
	font-size:1.14rem;
}
#get.wait{
  background:#D9D9D9;
  font-size:0.857rem;
}
.selectDataBox{text-align:center;}
.selectData{display:inline-block; margin:0 10px; font-size:1rem; color:#474747; padding-left:25px; height:20px; line-height:20px; background:url(http://wheelysoss.oss-cn-shanghai.aliyuncs.com/img/wps/activity2017/valentine/dj_1.png) no-repeat;background-size:auto 100%; }
.selectData.select{ background:url(http://wheelysoss.oss-cn-shanghai.aliyuncs.com/img/wps/activity2017/valentine/dj_2.png) no-repeat;background-size:auto 100%;}
.justDo{color:#fff; background:#ee2624; width:35%; font-size:1.125rem; padding:10px 0; margin:20px auto; text-align:center; display:block; border-radius:50px;}
.selectFlowerBox{display:block;}
.selectTitle{text-align:center; font-weight:bold; margin-bottom:10px;}
.selectFlowerBox .selectData{margin:4px 0;}

.toHerMod{padding:20px 0;background:#fff url(http://wheelysoss.oss-cn-shanghai.aliyuncs.com/img/wps/activity2017/valentine/toHerBg.png) no-repeat; background-size:100% auto;}
.toHerTitle{color:#909090; text-align:center; font-size:1.125rem;}
#toHerText ,#toHerTextBox{font-size:1.125rem; border-radius:3px;  width:61%; height:120px; margin:10px 18%; padding:2px 1%;}
#toHerText{border:1px solid #e3e3e3; resize:none;}
#toHerTextBox{border:1px dotted #ee2624;overflow-y:auto;}
.subToHer{color:#fff; background:#ee2624; width:30%; font-size:1.125rem; padding:7px 0; border-radius:30px; display:block; margin:0 auto; text-align:center}

.orderBox{background:#f7f7f7;}
.orderTitle{color:#474747; text-align:center; padding:5px 0;}
.payOver{color:#ee2624; font-size:1.125rem; text-align:center; font-weight:bold;}
