<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<head>
<title>Wheelys</title> #parse("/admin/common/head.vm")
<style>
#inputMod input {
	width: 150px;
	float: left;
	margin-right: 5px;
}
h3{
 padding:1.6rem;
 font-size: 1.8rem;
 color: #0e90d2;
 
}
.clickMod a {
	display: block;
	width: 30%;
	margin: 0 10%;
	padding: 5px 0;
	float: left;
	text-align: center;
	font-size: 16px;
	color: #fff;
	background: #ed2626;
	border-radius: 5px;
	border: 1px solid #ed2626
}

.tbMod {
	min-width: 800px;
}

.tbmod_2, .tbmod_2 th {
	text-align: center !important;
}

.listMod {
	margin: 20px 0 20px 15px;
}

.listMod h3 {
	font-size: 16px;
	font-weight: bold;
}

.listMod .money {
	float: right;
	width: 160px;
	text-align: center;
}

.btnList {
	text-align: center;
	width: 40%;
}

.btnList a {
	border: 1px solid #f5f5f5;
	border-radius: 5px;
	display: inline-block;
	padding: 5px 10px;
	margin: 0 20px;
}
.admin-content{
    padding:1.6rem;
}
</style>
</head>
<body>
	#parse("/admin/common/top.vm") #parse("/admin/common/menu.vm")
	<div class="admin-content">
		<h3>员工管理</h3>
		<a href="${basePath}admin/staff/showAddStaff.xhtml" style="padding-left:1.6rem;">
			<button type="button"
				class="am-btn am-btn-default am-btn-xs am-text-secondary"
				name="details">
				<span >+添加成员</span>
			</button>
		</a>
		<div class="am-g">
			<div class="am-u-sm-12">
				<table class="am-table am-table-striped am-table-hover table-main">
					<thead>
						<tr class="trList">
							<th class="table-title">姓名</th>
							<th class="table-title">用户名</th>
							<th class="table-title">电话</th>
							<th class="table-author am-hide-sm-only center">操作</th>
						</tr>
					</thead>
					<tbody>
						#foreach($user in $userList)
						<tr>
							<td>$!user.nickname</td>
							<td>$!user.username</td>
							<td>$!user.mobile</td>
							<td class="am-btn-group-xs">
                               <span>
								<button type="button"
									class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"
									name="delete">
									<input id=$!user.id type="hidden">删除</input>
								</button> 
								</span><a href="${basePath}admin/staff/showAddStaff.xhtml?id=$user.id">
									<button type="button"
										class="am-btn am-btn-default am-btn-xs am-text-secondary"
										name="export">
										<span>修改</span>
									</button>
							</a> <a
								href="${basePath}admin/staff/showWebModule.xhtml?userid=$!{user.id}">
									<button type="button"
										class="am-btn am-btn-default am-btn-xs am-text-secondary"
										name="export">
										<span>权限</span>
									</button>
							</a>
							</td>
						</tr>
						#end
					</tbody>
				</table>
			</div>
		</div>
		#parse('include/pageUtil.vm')
	</div>
	<script>
		$('button[name=delete]').click(function() {
			if (confirm("确认删除吗")) {
				var id = $(this).children().attr('id');
				var node = $(this).parent().parent().parent().remove();
				$.ajax({
					url : "${basePath}admin/staff/delStaff.xhtml",
					type : 'get',
					dataType : 'json',
					data : 'id=' + id,
					success : function(data) {
					}
				});
			}
		});
	</script>
</body>
</html>
