<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<title>Wheelys</title>
#parse("/admin/common/head.vm")
<style>
#inputMod input{width:150px; float:left; margin-right:5px;}
</style>
</head>

<body style="padding: 0px">
    #parse("/admin/common/top.vm") #parse("/admin/common/menu.vm")
    <div class="admin-content">
        <div class="am-cf am-padding">
            <div class="am-fl am-cf">
                <strong class="am-text-primary am-text-lg">
					&nbsp;&nbsp;&nbsp;商家管理</strong> / <small>全部商品管理</small>
            </div>
            <br>
            <br>
            <div class="admin-content">
                <div class="am-u-sm-12 am-u-md-4">
                    <div class="am-input-group am-input-group-sm">
                        <form id="inputMod" class="am-input-group am-input-group-sm" action="${basePath}admin/shop/cafePossess.xhtml" method="get">
                            <input type="text" class="am-form-field" name="prodname" id="txtSeach" value="" placeholder="商品名称">
                            <select id="itemid" name="itemid" class="am-input-sm" style="width: 100px; float: left;">
                                <option value="">请选择分类</option> #foreach($key in $productMap.keySet())
                                <option value="$key">$!productMap.get($key).name</option> #end
                            </select><span class="am-input-group-btn">
								<button class="am-btn am-btn-default" type="submit" name="sou">搜索</button>
							</span>
                        </form>
                    </div>
                </div>
                <!-- 增删改查 -->
                <div class="am-btn-toolbar" style="float: right; margin-right: 30px;">
                    <div class="am-btn-group am-btn-group-xs">
                        <a href="${basePath}admin/shop/showAddProduct.xhtml">
                            <button type="button" class="am-btn am-btn-default" style="font-size: 1.2rem;">
                                <!-- <span class="am-icon-plus"></span>  -->
                                添加商品
                            </button>
                        </a>
                    </div>
                </div>
                <!-- 增删改查 -->
                <div class="am-g">
                    <div class="am-u-sm-12">
                        <form class="am-form">
                            <table class="am-table am-table-striped am-table-hover table-main" style="border:1px solid #ddd;margin-top:5px;">
                                <thead>
                                    <tr>
                                        <th class="table-id">ID</th>
                                        <th class="table-title">分类</th>
                                        <th class="table-type">名称</th>
                                        <th class="table-author am-hide-sm-only">英文名称</th>
                                        <th class="table-date am-hide-sm-only">价格(元)</th>
                                        <th class="table-date am-hide-sm-only">添加时间</th>
                                        <th class="table-date am-hide-sm-only">冷热</th>
                                        <th class="table-date am-hide-sm-only">咖啡豆</th>
                                        <th class="table-date am-hide-sm-only">牛奶</th>
                                        <th class="table-date am-hide-sm-only">饮品</th>
                                        <th class="table-date am-hide-sm-only">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    #foreach($p in $productShopList) $p.shopname #end #foreach($cafe in $cafeList)
                                    <tr>
                                        <td>$!cafe.id</td>
                                        <td>$!productMap.get($!cafe.itemid).name</td>
                                        <td>$!cafe.name</td>
                                        <td>$!cafe.enname</td>
                                        <td>$!cafe.price</td>
                                        <td>$!cafe.createtime</td>
                                        <td>#if($!cafe.cafehot ==1) <span style="color: green">√</span> #elseif($!cafe.cafehot ==0) <span style="color: red">—</span> #end
                                        </td>
                                        <td>#if($!cafe.cafebean ==1) <span style="color: green">√</span> #elseif($!cafe.cafebean ==0) <span style="color: red">—</span> #end
                                        </td>
                                        <td>#if($!cafe.cafemilk ==1) <span style="color: green">√</span> #elseif($!cafe.cafemilk ==0) <span style="color: red">—</span> #end
                                        </td>
                                        <td>#if($!cafe.drink ==1) <span style="color: green">√</span> #elseif($!cafe.drink ==0) <span style="color: red">—</span> #end
                                        </td>
                                        <td>
                                            <div class="am-btn-toolbar">
                                                <div class="am-btn-group am-btn-group-xs">
                                                    <a href="${basePath}admin/shop/showAddProduct.xhtml?id=$cafe.id">
                                                        <button type="button" class="am-btn am-btn-default am-btn-xs am-text-secondary">
                                                            <span class="am-icon-pencil-square-o"></span> 编辑
                                                        </button>
                                                    </a>
                                                    <button type="button" class="am-btn am-btn-default am-btn-xs" name="delete">
                                                        <input type="hidden" name="deleteid" id="$!{cafe.id}" value="$cafe.display">删除</input>
                                                    </button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    #end
                                </tbody>
                            </table>
                    </div>
                </div>
                #parse('include/pageUtil.vm')
                </form>
            </div>
        </div>
    </div>
    <a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>
    <script>
    var isokey = true;
    $('button[name=delete]').click(function() {
        var that = $(this);
        var id = $(this).children().attr('id');
        var display = $(this).children().val();
        $.ajax({
            url: "${basePath}admin/shop/showDisplayShop.xhtml",
            type: 'get',
            dataType: 'json',
            data: 'prodid=' + id,
            success: function(data) {
                if (data.success) {
                    if (confirm("确认删除吗")) {
                        $.ajax({
                            url: "${basePath}admin/shop/delshopProduct.xhtml",
                            type: 'get',
                            dataType: 'json',
                            data: 'id=' + id + '&display=' + display,
                            success: function(data) {
                                that.parent().parent().parent().parent().remove();
                            }
                        });
                    }
                } else {
                    alert('此商品尚有如下店铺未下架:' + data.msg + '。请下架后再做删除操作')
                }
            }
        });

    });





    $('button[name=sou]').click(function() {
        var v = $.trim($("#txtSeach").val());
        $("#txtSeach").attr("value", v);

        var v = $.trim($("#itemid").val());
        $("#itemid").attr("value", v);
    })
    </script>
</body>

</html>

</html>
