<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="no-js">
<head>
<title>Wheelys</title> #parse("/admin/common/head.vm")
<style>
.select {
	border: 1px #7F9DB9 solid;
	width: 80px;
	float: left;
	margin-left: 90px;
	height: 30px;
	overflow: hidden;
}

.wselect{
	width: 70px;
	float:right;
	height: 30px;
	margin-left: 300px;

}
.wselect{
	width: 100px;
	height：50px;

}
</style>
</head>

<body style="padding: 0px">
	#parse("/admin/common/top.vm") #parse("/admin/common/menu.vm")
	<div class="admin-content">
		<div class="am-cf am-padding">
			<div class="am-fl am-cf">
				<strong class="am-text-primary am-text-lg">
					&nbsp;&nbsp;&nbsp;商品管理</strong> / <small>
					#if($supplierid==1)
					圣唐商品管理
					#elseif($supplierid==2)
					香季商品管理
					 #end</small>
			</div>
			<br><br>
			<div class="admin-content" style="width: 80%;">
					<form  class="am-input-group am-input-group-sm" action="${basePath}admin/order/mchproduct.xhtml?supplierid=$!supplierid" method="post">
						<input type="text" class="am-form-field" name="name" value="$!params.name" id="txtSeach"
						maxlength="12"
							 style="width:150px;height:33px;float:left;" placeholder="查询商品名称"/> 
						<select name="itemid" style="width:150px;height:33px;float:left;margin-left: 10px;" class="am-input-sm">
							<option  value="">全部</option>
							 #foreach($key in $itemMap.keySet())
							<option #if($params.itemid eq $key)selected="selected"#end value="$key">$itemMap.get($key).name</option>
							 #end
						</select>
						<button class="wselect" type="submit" name="sou">搜索</button>
					</form>
			</div>
			<!-- 增删改查 -->
			<div class="am-btn-toolbar" style="float: right; margin-right: 30px;">
				<div class="am-btn-group am-btn-group-xs">
					<a href="${basePath}admin/order/mch/findupdate.xhtml?supplierid=$!supplierid"><button
							type="button" class="am-btn am-btn-default"
							style="font-size: 1.2rem;">添加商品</button></a>
				</div>
			</div>
		</div>
		<div class="am-g">
			<div class="am-u-sm-12">
					<table class="am-table am-table-striped am-table-hover table-main">
						<thead>
							<tr>
								<th class="table-type">ID</th>
								<th class="table-type">排序</th>
								<th class="table-title">名称</th>
								<th class="table-type">分类</th>
								<th class="table-author am-hide-sm-only">单位</th>
								<th class="table-date am-hide-sm-only">重量</th>
								<th class="table-date am-hide-sm-only">规格说明</th>
								<th class="table-set">价格(元)</th>
								<th class="table-set">状态</th>
								<th class="table-date am-hide-sm-only center">操作</th>
								
							</tr>
						</thead>
						<tbody>
							#foreach($mch in $mchProductList)
							<tr>
								<td id=id>$!mch.id</td>
								<td id=sn><input type="text" id="$!{mch.id}" name="sn" style="width:30%;  text-align:center;" value="$!{mch.sn}" /></td>
								<td id=name>$!mch.name</td>
								<td class="am-hide-sm-only">$!itemMap.get($!mch.itemid).name</td>
								<td class="am-hide-sm-only">$!mch.unit</td>
								<td class="am-hide-sm-only">$!mch.weight</td>
								<td class="am-hide-sm-only">$!mch.description</td>
								<td class="am-hide-sm-only">$!VmUtils.getDoubleAmount($!mch.price)</td>
								<td class="am-hide-sm-only" id="on_$mch.id">
								#if($!mch.status=='N')
								<span style='color: red;'>已下架</span>
								#elseif($!mch.status=='Y')  
                       					<span style='color: green;'>售卖中</span>
                       			#end  
								</td>
								
								<td>
									<div class="am-btn-toolbar center">
										<div class="am-btn-group-xs">
											<a href="${basePath}admin/order/mch/findupdate.xhtml?id=$mch.id&supplierid=$supplierid">
												<button type="button" name="update"
													class="am-btn am-btn-default am-btn-xs am-text-secondary">
													<span> 修改 </span>
												</button>
											</a>
											<span>
												<input type="submit" name="status"  id="submit$!{mch.id}" mchid="$!{mch.id}" 
												#if(${mch.status} =='Y') 
	                      				 			value="下架"
													style="width: 40px; height: 25px; border-radius: 5px; background: #fff; color: red"
													#else value="上架"
													style="width:40px;height:25px;border-radius:5px;background:#fff;color: green"
													#end>
											</span>
											<button type="button" class="am-btn am-btn-default am-btn-xs" name="delete">
												删除
												<input type="hidden" name="deleteid" id="$!{mch.id}" status="$!{mch.delstatus}" value="删除" />
												
											</button>
										</div>
									</div>
								</td>
							</tr>
							#end
						</tbody>
					</table>
					#parse('include/pageUtil.vm')
			</div>

		</div>
	</div>

	</div>

	<a href="#"
		class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu"
		data-am-offcanvas="{target: '#admin-offcanvas'}"></a>
<script>
$('button[name=delete]').click(function() {
	if(confirm("确认删除吗")){
		var id = $(this).children().attr('id');
		var delstatus = $(this).children().attr('status')
		var node = $(this).parent().parent().parent().parent().remove();
		$.ajax({
			url : "${basePath}admin/order/mch/delmch.xhtml",
			type : 'post',
			dataType : 'json',
			data : 'id=' + id+'&delstatus='+delstatus,
			success : function(data) {}
		});
	}
});

$('input[name=sn]').blur(function (){
    var id = $(this).attr('id');
    var sn = $(this).val();
	$.ajax({
       url:"${basePath}admin/order/mch/delmch.xhtml",
       type:'get',
       dataType:'json',
       data:'id='+id+'&sn='+sn,
       success:function(data){}
	});
});


$('input[type=submit]').click(function(e){
	if($(this).val() =='上架'){
		if(confirm("确认上架吗")){
			var mchid = $(this).attr('mchid');          //  接收当前商品的id
			var status = '';
			var neir = $(this).val();
			if(neir == '上架'){
				status = 'Y';                                // 判断当前商品是否上架
			}else if(neir == '下架'){
				status = 'N';
			}
			var obj = $(this);
			$.ajax({
				url:"${basePath}admin/order/shop/status.xhtml",
				type:'get',
				dataType:'json',
				data:'mchid='+mchid+'&status='+status,
				success:function(data){
					var id = 'on_'+mchid;
					var text = status == 'Y'?"售卖中":"已下架";
					var thisText = 'Y'?"下架":"上架";
					$('#'+id).html(text);
					//改变文字
					$(obj).val(thisText)
					//设置字体颜色
					$('#'+id).css({"color":(status == 'Y'?"green":"red")})
					$(obj).css({"color":(status == 'Y'?"red":"green")})
				}
			});
		}
	}else if($(this).val() =='下架'){
		if(confirm("确认下架吗")){
			var mchid = $(this).attr('mchid');          //  接收当前商品的id
			var status = '';
			var neir = $(this).val();
			if(neir == '上架'){
				status = 'Y';                                // 判断当前商品是否上架
			}else if(neir == '下架'){
				status = 'N';
			}
			var obj = $(this);
			$.ajax({
				url:"${basePath}admin/order/shop/status.xhtml",
				type:'get',
				dataType:'json',
				data:'mchid='+mchid+'&status='+status,
				success:function(data){
					var id = 'on_'+mchid;
					var text = status == 'Y'?"售卖中":"已下架";
					var thisText = 'Y'?"上架":"下架";
					$('#'+id).html(text)
					//改变文字
					$(obj).val(thisText)
					//设置字体颜色
					$('#'+id).css({"color":(status == 'Y'?"green":"red")})
					$(obj).css({"color":(status == 'Y'?"red":"green")})
				}
			});
		}
	}
});


$('button[name=sou]').click(function(){
	var v = $.trim($("#txtSeach").val());
	$("#txtSeach").attr("value",v);
})


</script>
</body>
</html>