<!doctype html>
<html>
<body>
	<script>
	#if($VmUtils.startsWith($!redirectUrl,"http"))
	window.location.href="$redirectUrl";
	#else
	window.location.href="${basePath}$redirectUrl";
	#end
</script>
</body>
</html>
