<!doctype html>
<html>

<head>
    <title>Wheelys</title>
    #parse("/admin/common/head.vm")
</head>
<style>
/* table{
    border-top:1px solid #dddddd;
   } */

th {
    border: 1px solid #dddddd;
}
</style>

<body style="padding:0px">
    #parse("/admin/common/top.vm") #parse("/admin/common/menu.vm")
    <div class="admin-content">
        <div class="am-cf am-padding">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg"> &nbsp;&nbsp;&nbsp;报表统计</strong> / <small>门店格式报表</small></div>
            <br>
            <br>
            <div class="admin-content">
                <div class="am-u-sm-12">
                    <div class="am-input-group am-input-group-sm">
                        #set($cafeshopid=0) #set($citycode=0) #set($begintime=0) #set($endtime=0)
                        <form class="am-input-group am-input-group-sm" action="${staticPath}admin/report/getReportShopListByDate.xhtml" method="post">
                            <p class="am-input-group-btn">
                                <select name="shopid" class="am-input-sm" placeholder="商铺名字" style="width:150px;height:33px;float:left;">
                                    #foreach($shop in $shopList)
                                    <option #if($shop.shopid eq $params.shopid) selected="selected" #end value="$shop.shopid" #set($cafeshopid=$params.shopid)>$!shop.esname</option>
                                    #end
                                </select>
                                <input type="text" class="am-form-field" name="begin" id="time1" onfocus="new WdatePicker({dateFmt:'yyyy-MM-dd'})" value="$!params.begin" #set($begintime=$!params.begin) placeholder="开始时间" style="width:150px;height:33px;float:left;margin-left: 10px;">
                                <input type="text" class="am-form-field" name="end" id="time2" onfocus="new WdatePicker({dateFmt:'yyyy-MM-dd'})" value="$!params.end" #set($endtime=$!params.end) placeholder="结束时间" style="width:150px;height:33px;float:left;">
                                <button class="am-btn am-btn-default" type="submit" style="float:left;margin-left: 10px;" onclick="checkDate()">搜索</button>
                            </p>
                        </form>
                        <a href="${basePath}admin/report/getReportShopListByDateExcel.xhtml?shopid=$!cafeshopid&begin=$!begintime&end=$!endtime">
                            <button type="button" class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" name="export">
                                <input type="hidden">导出</input>
                            </button>
                        </a>
                    </div>
                </div>
                <!-- 增删改查 -->
                <div class="am-btn-toolbar" style="float:right;margin-right:30px;">
                    <div class="am-btn-group am-btn-group-xs">
                    </div>
                </div>
                <!-- 增删改查 -->
            </div>
            <div class="am-g">
                <div class="am-u-sm-12" style="overflow-x:scroll;">
                    <table class="am-table am-table-striped am-table-hover table-main">
                        <thead>
                            <tr>
                                <th class="table-title" style="min-width:80px;border-top:1px solid #dddddd;">营业点</th>
                                <th class="table-title" colspan="8" style="min-width:90px;border-top:1px solid #dddddd;">$!shop.shopname</th>
                            </tr>
                            <tr>
                                <th class="table-title" rowspan="3" style="min-width:60px;">日期</th>
                                <th class="table-title" colspan="3" style="min-width:60px;">理论销售(含销售杯数、赠杯、无优惠)</th>
                                <th class="table-title" colspan="8" style="min-width:60px;">实际销售(折扣后+折扣退款后)</th>
                            </tr>
                            <tr>
                                <th class="table-title" rowspan="2">杯数</th>
                                <th class="table-title" rowspan="2">金额</th>
                                <th class="table-title" rowspan="2">平均单价</th>
                                <th class="table-title" colspan="2">微信</th>
                                <th class="table-title" colspan="2">合计</th>
                            </tr>
                            <tr>
                                <th class="table-title">杯数</th>
                                <th class="table-title">金额</th>
                                <th class="table-title">杯数</th>
                                <th class="table-title">金额</th>
                            </tr>
                        </thead>
                        <tbody>
                            #foreach($report in $reportList)
                            <tr>
                                <th class="table-title">$report.date</th>
                                <th class="table-title">$report.quantity</th>
                                <th class="table-title">$VmUtils.getAmount($report.totalfee)</th>
                                <th class="table-title">$VmUtils.getAmount($report.avgprice)</th>
                                <th class="table-title">$report.quantity</th>
                                <th class="table-title">$VmUtils.getAmount($report.netpaid)</th>
                                <th class="table-title">$report.quantity</th>
                                <th class="table-title">$VmUtils.getAmount($report.netpaid)</th>
                            </tr>
                            #end
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
