<!doctype html>
<html>
<head>
	<meta charset="utf-8" http-equiv="Content-Type" />
	<meta http-equiv="Cache-Control" content="no-cache" />
	<title>Wheelys Cafe</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0, minimal-ui"/>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<link href="${staticPath}css/touch.css?v=$VmUtils.version" rel="stylesheet" type="text/css"/>
	<link href="${staticPath}css/wps/orderDetail.css?v=$VmUtils.version" rel="stylesheet" type="text/css"/>
	<script type="text/javascript" src="${staticPath}js/zepto.min.js?v=$VmUtils.version" type="text/javascript"></script>
	<script type="text/javascript" src="${staticPath}js/zepto_popup.js?v=$VmUtils.version" type="text/javascript"></script>
	#parse("/common/baidu.vm") 
	<style type="text/css">
	</style>
</head>
<body>
	<div class="orderDetail">
	    <div class="header">
		  <div class="layout">
			   <div class="header-img"><a href="${basePath}shop/getOrderList.xhtml"><img src="${picPath}wps/coupon/return.png"/></a></div>
			   <p class="header-text1">订单详情</p>
			   <p class="header-text2"></p>
		  </div>
        </div>
        <div class="orderDetailBody">
           <ul>
			#foreach($detail in $orderVo.detailList)
	             <li class="ui_flex">
	               <div class="liMod">
	                  <p>$detail.productname $!detail.description</p>
	                  <P>$detail.productename</P>
	               </div>
					#if($discount.type eq 'ONEBUYONE' && $detail.discountnum > 0)
						<div class="liMod">X$detail.discountnum</div>
					#else
						<div class="liMod">X$detail.quantity</div>
					#end
					
					#if($discount.type eq 'ONEBUYONE' && $detail.discountnum > 0)
					<div class="liMod">￥$VmUtils.getAmount($detail.paidfee)</div>
					#else
						#if($detail.productid eq 1031)
	              		<div class="liMod o-red">赠送</div>
						#else
						<div class="liMod">￥$VmUtils.getAmount($detail.totalfee)</div>
						#end
					#end
	             </li>
				#if($discount.type eq 'ONEBUYONE' && $detail.discountnum > 0)
				<li class="ui_flex">
	               <div class="liMod">
	                  <p>$detail.productname $!detail.description</p>
	                  <P>$detail.productename</P>
	               </div>
					<div class="liMod">X$detail.discountnum</div>
	             	<div class="liMod o-red">赠送</div>
	             </li>
				#end
			#end
           </ul>
			#if($orderVo.discount gt 0 && $discount.type ne 'ONEBUYONE')
           <div class="discount clear">
				<div class="left">$!orderVo.disreason</div>
				<div class="right" style="font-size:1rem; ">-￥$VmUtils.getAmount($orderVo.discount)</div>
			</div>
			#end
			<div style="border:none;" class="discount clear">
				<div class="right" style="font-size:1.14rem;">实付￥$VmUtils.getAmount($orderVo.payfee)</div>
			</div>
        </div>
		<div class="otherDetail">
			<h2>其他信息</h2>
			<ul>
				<li><span>取杯口令：</span><span>"$!orderVo.takekey"</span></li>	
				#if($!orderVo.category eq 'TAKE')
				<li><span>配送方式：</span><span>当日自取</span></li>
				<li><span>店铺地址：</span><span>$orderVo.shop.shopaddress</span></li>
				#elseif($!orderVo.category eq 'RESERVED')
				<li><span>配送方式：</span><span>预约自取</span></li>
				<li><span>取杯时间：</span><span>$DateUtil.formatTimestamp($!orderVo.taketime)</span></li>
				<li><span>店铺地址：</span><span>$orderVo.shop.shopaddress</span></li>
				#elseif($!orderVo.category eq 'TAKEAWAY')
				<li><span>配送方式：</span><span>配送上门</span></li>
				<li><span>收货地址：</span><span>$memberAddress.address &nbsp; $memberAddress.detailaddress</span></li>
				<li><span>配送员电话：</span><a class="tel" href="tel:${shopProfile.mobile}" style="color:#e61111">${shopProfile.mobile}(点击可拨打)</a></li>
				#end
				<li><span>订单编号：</span><span>$orderVo.tradeno</span></li>
				#if($orderVo.getRefundStatus())
				<li><span>退款信息：</span><span>$orderVo.getRefundStatus()</span></li>
				#end
			</ul>
		</div>
		<div class="clear" style="padding:30px 0;">
			#if($!orderVo.shopid eq 59)
			<a class="close" style="background:#e61111 url(${picPath}wps/activity2017/valentine/flower.png) 15px 8px no-repeat; background-size:auto 50%; text-indent:20px;float:left; margin-left:20px;" href="${basePath}valentine/order.xhtml?tradeno=$orderVo.tradeno&isedit=Y">"分享传情"</a>
			#end
			<a class="close" href="${basePath}shop/shopDetail.xhtml?shopid=$orderVo.shopid">再来一单</a>
		</div>
   </div>
</body>
</html>