<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<head>
<title>Wheelys</title>
 #parse("/admin/common/head.vm")
<style>
#inputMod input{width:150px; float:left; margin-right:5px;}
.clickMod a{display:block; width:30%; margin:0 10%; padding:5px 0; float:left; text-align:center; font-size:16px; color:#fff; background:#ed2626; border-radius:5px; border:1px solid #ed2626}
.tbMod{min-width:800px;}
.tbmod_2 ,.tbmod_2 th{ text-align:center !important;}
.listMod{margin:20px 0 20px 15px;}
.listMod h3{font-size:16px; font-weight:bold;}
.listMod .money{float:right; width:160px; text-align:center;}
.btnList{text-align:center; width:40%;}
.btnList a{border:1px solid #f5f5f5; border-radius:5px; display:inline-block; padding:5px 10px;  margin:0 20px;}

</style>
</head>
<body>
#parse("/admin/common/top.vm") 
#parse("/admin/common/menu.vm") 
<div class="admin-content">
<h3 style="font-size: 1.8rem;color: #0e90d2;margin-left:20px;margin-top:20px;">修改密码</h3>
<div class="am-tabs-bd" id="inputList" >
	#if($!user.id)
	<input type="hidden" value="$!user.id" name="id">
	#end
	<div class="clearfix" style="margin:10px 0;margin-left:50px;">
	        <div class="left" style="width:100px; text-align:right;">旧密码</div>
	        <div class="left" style="margin-left:10px;">
	          <input type="text" class="am-input-sm" name="oldPassword"  value="" maxlength="14">
	        </div>
	</div>
	<div class="clearfix" style="margin:10px 0;margin-left:50px;">
		<div class="left" style="width:100px; text-align:right;"> 新密码 </div>
		<div class="left" style="margin-left:10px;">
		  <input type="text" class="am-input-sm" name="newPassword" value="" maxlength="14">
		</div>
	</div>
	<div class="clearfix" style="margin:10px 0;margin-left:50px;">
		<div class="left" style="width:100px; text-align:right;">密码确认</div>
		<div class="left" style="margin-left:10px;">
		  <input type="text" class="am-input-sm" name="confirmPassword" value="" maxlength="14">
		</div>
	</div>
		<div class="clearfix btnList">
		<a href="${basePath}admin/index.xhtml">取消</a>
		<input type="submit" onclick="submitForm_2();" class="am-btn am-btn-primary am-btn-xs" 
		value="确认" />
	</div>
</div>
</div>
<script>
function submitForm_2(){
	var data = {};
	$('#inputList input').each(function(e,a){
		var attr = $(a).attr('name');
		data[attr] = $(a).val();
	});
	$.ajax({
	      url:"${basePath}admin/staff/updatePassword.xhtml",
	      type:'get',
	      dataType:'json',
	      data:data,
	      success:function(data){
	    	  if(data.success){
	    		  alert('保存成功')
	    		location.href = '${basePath}admin/index.xhtml';
	    	  }else{
	    		 alert(data.msg)
	    	  }
	      }
	});
}
</script>
</body>
</html>
