<!doctype html>
<html class="no-js">
<head>
  <title>Wheelys</title>
#parse("/admin/common/head.vm")
<script type="text/javascript" charset="utf-8" src="${basePath}ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="${basePath}ueditor/ueditor.all.js"> </script>
<script type="text/javascript" charset="utf-8" src="${basePath}ueditor/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" >
	$(function(){
		
		$("form").submit(function(){
			if($.trim($("#title").val()) == ''){
				alert("请填写标题");
				$("#_title").html("标题不能为空");
				return false;
			}
			
		
			if($('#iframeImg').contents().find('#imgurl').val() == '' && $('#newsimg').val() == ''){
				alert('图片没有上传成功');
				return false;
			}else{
				$('#newsimg').val($('#iframeImg').contents().find('#imgurl').val());
			}
			
			
			if($("input[name='publishtime']").val() == ''){
				alert("请选择发表时间");
				$("#_appeartime").html("发表时间不能为空");
				return false;
			}
			if($.trim(UE.getEditor('editor').getContent()) == ''){
				alert("请填写新闻内容");
				$("#_content").html("内容不能为空");
				return false;
			}else{
				$('#content').val(UE.getEditor('editor').getContent());
			}
		});
		
		$("input:reset").click(function(event){
			if(!confirm("确定重置吗？点击确定将清空页面所有内容！")){
				 event.preventDefault();
			}
		});
		
		$("input:button").click(function(){
			if(confirm("确定取消吗？点击确定将放弃页面所有更改并返回新闻列表页面")){
				 window.location.href="${basePath}sss"
			}
		});
		
	});
	
    function setContent(isAppendTo) {
        UE.getEditor('editor').setContent('欢迎使用ueditor', isAppendTo);
    }
		
</script>
</head>
<body style="padding: 0px">
	#parse("/admin/common/top.vm") 
	#parse("/admin/common/menu.vm")
   
	<div class="admin-content">
		<div class="am-cf am-padding">
			<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">新闻管理</strong>&nbsp;&nbsp;&nbsp; <small>新闻列表/编辑新闻</small></div>
		</div>
		<div class="am-tabs am-margin" data-am-tabs>
		    <ul class="am-tabs-nav am-nav am-nav-tabs">
				<li class="am-active"><a href="#tab1">新闻详情</a></li>
		    </ul>
		    <div class="am-tabs-bd">
				<form  action="${basePath}admin/content/editNewsDetail.xhtml" method="post" class="am-form">
					<input type="hidden" name="newsimg" id="newsimg" value="$!news.newspicture">
						<input type="hidden" name="id" value="$!{news.id}"/>
						<div class="am-g am-margin-top">
							<div class="am-u-sm-4 am-u-md-2 am-text-right">新闻标题</div>
							<div class="am-u-sm-8 am-u-md-4">
								<input type="text" class="am-input-sm" name="title" id="title" value="$!news.title" maxlength="100" onfocus="removeTips(this);"/></div>
							<div class="am-hide-sm-only am-u-md-6">
								<span id="_title" style="color:red">*</span>&nbsp;&nbsp;必填，限100字</div>
						</div>
					
					    <div class="am-g am-margin-top">
							<div class="am-u-sm-4 am-u-md-2 am-text-right">新闻简介&nbsp;&nbsp;</div>
							<div class="am-u-sm-8 am-u-md-4">
								<textarea rows="5" class="am-input-sm" cols="200" name="overview" id="overview" maxlength="1000">$!{news.overview}</textarea></div>
							<div class="am-hide-sm-only am-u-md-6">
								<span id="_overview" style="color:red"></span>&nbsp;&nbsp;限1000字</div>
					    </div>
					
						<div class="am-g am-margin-top">
							<div class="am-u-sm-4 am-u-md-2 am-text-right">作&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;者</div>
							<div class="am-u-sm-8 am-u-md-4">
								<input type="text" class="am-input-sm" name="writer" id="writer" value="$!news.writer" maxlength="10"></div>
							<div class="am-hide-sm-only am-u-md-6">
								<span id="_writer" style="color:red"></span>&nbsp;&nbsp;限10字</div>
						</div>
					       
						<div class="am-g am-margin-top">
							<div class="am-u-sm-4 am-u-md-2 am-text-right">设置分类&nbsp;</div>
							<div class="am-u-sm-8 am-u-md-10">
								<div class="am-input-sm">
									<select id="MySelect" name="category" class="am-input-sm" style="width: 125px; float: left;">
										<option #if($!{news.category} eq '品牌介绍') selected="selected" #end value="品牌介绍">品牌介绍</option>
										<option #if($!{news.category} eq '媒体报道') selected="selected" #end value="媒体报道">媒体报道</option>
										<option #if($!{news.category} eq '活动相关') selected="selected" #end value="活动相关">活动相关</option>
										<option #if($!{news.category} eq '招募计划') selected="selected" #end value="招募计划">招募计划</option>
										<option #if($!{news.category} eq '项目介绍') selected="selected" #end value="项目介绍">项目介绍</option>
										<option #if($!{news.category} eq '其他') selected="selected" #end value="其他">其他</option>
									</select>
								</div>
							</div>
						</div>
						
						<div class="am-g am-margin-top">
							<div class="am-u-sm-4 am-u-md-2 am-text-right">图片</div>
							<div class="am-u-sm-8 am-u-md-10">
								<iframe id="iframeImg" name="iframeImg"  src="${basePath}admin/shop
								/touploadimg.xhtml?imgurl=$!news.newspicture">
								</iframe>
								<span id="_publishtime" style="color:red">*</span>必填
							</div>
						</div>
						<div class="am-g am-margin-top">
							<div class="am-u-sm-4 am-u-md-2 am-text-right">发表时间</div>
							<input type="text" class="am-form-field" name="publishtime" onfocus="new WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" value="$!{news.publishtime}" placeholder="发表时间" style="width:175px;height:33px;float:left;margin-left:10px;">
							<div class="am-hide-sm-only am-u-md-6"><span id="_publishtime" style="color:red">*</span>必填</div>
							<br>
						</div>
						<div class="am-g am-margin-top" >
							<div class="am-u-sm-4 am-u-md-2 am-text-right">新闻内容</div>
							<div class="am-u-sm-8 am-u-md-6">
   								<script id="editor" type="text/plain" style="width:1024px;height:500px;"></script>
   								<textarea style="display: none;" name="content" id="content"></textarea>
   							</div>
							<div class="am-hide-sm-only am-u-md-6" style="max-width:500px;text-align:center;">
							  <span id="_content" style="color:red">*</span>
							</div>
						</div>
				    <input type="submit" class="am-btn am-btn-primary am-btn-xs" value="提交" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				    <input type="reset" class="am-btn am-btn-default am-btn-xs" value="重置"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				    <input type="button" class="am-btn am-btn-default am-btn-xs" value="取消"/>
				</form>
			</div>
		</div>
	</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>
	#parse("/admin/common/footer.vm")
<script type="text/javascript" >    
	var ue = UE.getEditor('editor');
    ue.ready(function() {
        ue.setContent('$!{newsContent.newscontent}');  //赋值给UEditor  
    });  
</script>
</body>
</html>