
<!doctype html>
<html class="no-js">
<head>
<title>Wheelys</title>
<script src="${staticPath}js/add2/jquery.min.js"></script>
</head>
<body style="margin-left:0;">
<form id="uploadimgForm" action="${basePath}admin/shop/uploadimg.xhtml" enctype="multipart/form-data" method="post">
	<div class="am-u-sm-8 am-u-md-4 am-u-end col-end">
		#if($!imgMap.imgurl)
		<img src="${picPath}$!imgMap.imgurl" style="width:100px;height:100px;">
		#end
		<input id="imgFile_1" type="file" class="am-input-sm" name="imgurl" onchange="imgAjax()" style="border-color:#ccc; color:#ccc" value="$!imgMap.imgurl" />
	</div>
</form>
<input id="imgurl" type="hidden" value="$!imgMap.imgurl">
</body>
<script>
function imgAjax(){
	$('#uploadimgForm').submit();
}
</script>
</html>
